h1 {
  font-size: calc(2em * var(--text-multiplier, 1));
}

p {
  font-size: calc(1em * var(--text-multiplier, 1));
}

@media (min-width: 48rem) {
  :root {
    --text-multiplier: 1.25;
  }
}
  /********************************************************************/
  .circle {
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .circle.circle__start {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: cornflowerblue;
  }
  .circle.circle__item {
    width: 100px;
    height: 100px;
    position: absolute;
    /* background-color: chartreuse; */
  }
  .start_9 {
    top: 34.1%; position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 0 0 90px 90px;
    /* background:green; */
  }
  /*****************************************************************/
  /*****************************************************************/
  .oval {
     bottom: 15%;
     height: 7.5%;
     width: 52%;
  }
  #start_1 {
    top: 0%; left: 42.5%;
    /*background-color: blueviolet*/
  }
  #start_2 {
    top: 7.6%; right: 23.9%;
    /*background-color: blueviolet*/
  }
  #start_3 {
    top: 25.35%; right: 16.4%;
    /*background-color: blueviolet*/
  }
  #start_4 {
    bottom: 41%; right: 23.9%;
    /*background-color: blueviolet*/
  }
  #start_5 {
    bottom: 33.4%; left: 42.5%;
    /*background-color: blueviolet*/
  }
  #start_6 {
    bottom: 41%; left: 24.5%;
    /*background-color: blueviolet*/
  }
  #start_7 {
    top: 25.5%; left: 17%;
    /*background-color: blueviolet*/
  }
  #start_8 {
    top: 7.5%; left: 24.5%;
    /*background-color: blueviolet*/
  }
  #start_9{
    height: 6%;
    width: 15%;
    /*background-color: blueviolet*/
  }
  #stake_1{
    height: 6%;
    width: 6%;
    bottom: 20%; left: 27.9%;
    /*background-color: blueviolet*/
  }
  #stake_2{
    height: 6%;
    width: 6%;
    bottom: 20%; left: 40.7%;
    /*background-color: blueviolet*/
  }
  #stake_3{
    height: 6%;
    width: 6%;
    bottom: 20%; left: 53.6%;
    /*background-color: blueviolet*/
  }
  #stake_4{
    height: 6%;
    width: 6%;
    bottom: 20%; 
    right: 27.5%;
    /*background-color: blueviolet*/
  }
#result_1 {
    height: 5%;
    width: 5%;
    bottom: 6%; left: 17.7%;
    /*background-color: blueviolet*/
  }
  #result_2 {
    height: 5%;
    width: 5%;
    bottom: 6%; left: 26.2%;
    /*background-color: blueviolet*/
  }
  #result_3 {
    height: 5%;
    width: 5%;
    bottom: 6%;  left: 34.55%;
    /*background-color: blueviolet*/
  }
  #result_4 {
   height: 5%;
    width: 5%;
    bottom: 6%;  left: 43%;
    /*background-color: blueviolet*/
  }
  #result_5 {
   height: 5%;
    width: 5%;
    bottom: 6%;  right: 43.6%;
    /*background-color: blueviolet*/
  }
  #result_6 {
   height: 5%;
    width: 5%;
    bottom: 6%;  right: 35.2%;
    /*background-color: blueviolet*/
  }
  #result_7 {
   height: 5%;
    width: 5%;
    bottom: 6%; right: 26.7%;
    /*background-color: blueviolet*/
  }
  #result_8 {
   height: 5%;
    width: 5%;
    bottom: 6%;  right: 18.3%;
    /*background-color: blueviolet*/
  }
  #start_22 {
   height: 5%;
    width: 5%;
    bottom: 30%; left: 26.1%;
    /*background-color: blueviolet*/
  }
  #start_23 {
   height: 5%;
    width: 5%;
    bottom: 30%;  right: 25.2%;
    /*background-color: blueviolet*/
  }
  #oval_1 {
    height: 4%;
    width: 23%;
    bottom: 13%;
    left: 20%;
    text-align: center;
    /* background-color: blueviolet; */
   }
  #oval_2 {
    height: 4%;
    width: 23%;
    bottom: 13%;
    right: 18%;
    text-align: center;
    /*background-color: blueviolet*/;
   }
  #loadding {
    width: 100%; height: 100%; background-color: rgb(64, 71, 69); position: absolute; top: 0; left: 0; z-index: 10000;
  }
  /***********************************************************************************/
  .bg-white-color {
    opacity: 1.0;
    background:
          /* top, transparent black, faked with gradient */ 
          linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
          ),
  }
  .bg-chartreuse-color {
    background-color: chartreuse !important;
  }
  
  .bg-spin-color {
    background-color: blueviolet !important;
  }
  .blink-one {
    z-index: 100000;
    opacity: 1;
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    );
    animation: blinker-one 0.5s linear infinite;
    }
    @keyframes blinker-one {
    0% {
      opacity: 0;
    }
    }


.oval__item {
      /* width: 100px !important;
      height: 50px !important; */
      position: absolute;
    }
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}