﻿@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap');


* {
	margin: 0;
	padding: 0;
}

#game2 {
	position: relative;
	background-size: cover;
	width: 634px;
	height: 634px;
	margin: 0px auto;
	border: 5px solid #000;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

#game2 #holder {
	position: absolute;
	background-repeat:  no-repeat;
	/* background-position:  center -500px; */
	width: 634px;
	height: 634px;
	top: 0;
	left: 0
}

#game2 .bgmove1 {
	background-position:  center 0px !important;
}

#game2 .bgmove2 {
	background-position:  center 260px !important;
}

/********************************************/

#game2 .start {
	position: absolute;
	top: 250px;
	left: 50%;
}

#game2 #bord1 {
	position: absolute;
	background-size: contain;
	width: 253px;
	height: 98px;
	top: 20px;
	right: 0px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 2.6em;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 80px 0px 0px;
	z-index: 1;
}

#game2 .btn {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

#game2 #counter {
	position: absolute;
	background: url("../img/timer.png") no-repeat;
	background-size: contain;
	width: 293px;
	height: 74px;
	top: 20px;
	left: -40px;
	color: #FFF;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 1.6em;
	text-align: right;
	box-sizing: border-box;
	padding: 20px 75px 0px 0px;
	letter-spacing: 0.2em;
	z-index: 1;
}

#game2 .renda {
	position: absolute;
	bottom: 150px;
	right: 15px;
}

/********************************************/

#game2 .finish {
	position: absolute;
	top: 30px;
	left: 20px;
}

#game2 #bord2 {
	position: absolute;
	background-size: contain;
	width: 323px;
	height: 255px;
	top: 209px;
	left: 50%;
	margin-left: -158px;
	z-index: 1;
}

#game2 #bord2 .kiroku {
	position: absolute;
	top: -62px;
	left: -30px;
}

#game2 #bord2 p {
	position: absolute;
	top: 95px;
	left: 0px;
	color: #000;
	width: 245px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 3.2em;
	text-align: right;
}

#game2 .gastan {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -38px;
}

#game2 .upcenter {
	bottom: 175px;
}

@media screen and (max-width:768px) {

#game2 {
	position: relative;
	background-size: cover;
	width: 84vw;
	height: 84vw;
	margin: 0px auto;
	border: 5px solid #000;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;
}

#game2 #holder {
	position: absolute;
	background-size: cover;
	background-repeat:  no-repeat;
	background-position:  center -67vw;
	width: 84vw;
	height: 84vw;
	top: 0;
	left: 0
}

#game2 .bgmove1 {
	background-position:  center 0px !important;
}

#game2 .bgmove2 {
	background-position:  center 30vw !important;
}

/********************************************/

#game2 .start {
	position: absolute;
	width: 49.2vw;
	top: 32vw;
	left: 50%;
}

#game2 #bord1 {
	position: absolute;
	background-size:contain;
	width: 34vw;
	height: 15vw;
	top: 2vw;
	right: 0.5vw;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 6vw;
	text-align: right;
	box-sizing: border-box;
	padding: 2vw 10.5vw 0px 0px;
}

#game2 .btn {
	position: absolute;
	width: 29vw;
	bottom: 1.5vw;
	right: 0.7vw;
}

#game2 #counter {
	position: absolute;
	background-size: cover;
	width: 46.2vw;
	height: 11.6vw;
	top: 2vw;
	left: -6vw;
	color: #FFF;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 4.5vw;
	text-align: right;
	box-sizing: border-box;
	padding: 2.9vw 13vw 0px 0px;
	letter-spacing: 0.2em;
}

#game2 .renda {
	position: absolute;
	width: 38.1vw;
	bottom: 18.0vw;
	right: 2.1vw;
}

/********************************************/

#game2 .finish {
	position: absolute;
	width: 25vw;
	top: 4.7vw;
	left: 5vw;
}

#game2 #bord2 {
	position: absolute;
	background-size: contain;
	width: 38.6vw;
	height: 40.8vw;
	top: 31vw;
	left: 50%;
	margin-left: -19.3vw;
	z-index: 1;
}

#game2 #bord2 .kiroku {
	position: absolute;
	width: 35.6vw;
	top: -10.2vw;
	left: -6.1vw;
}

#game2 #bord2 p {
	position: absolute;
	top: 11vw;
	left: 0px;
	color: #000;
	width: 29.5vw;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 6.5vw;
	text-align: right;
}

#game2 .gastan {
	position: absolute;
	width: 8.8vw;
	bottom: 1.8vw;
	left: 50%;
}

#game2 .upcenter {
	bottom: 27.6vw;
}
	
}

@media screen and (max-width:700px) {

	#game2 {
		position: relative;
		background-size: cover;
		width: 84vw;
		height: 84vw;
		margin: 0px auto;
		border: 5px solid #000;
		border-radius: 5px;
		box-sizing: border-box;
		overflow: hidden;
	}
	
	#game2 #holder {
		position: absolute;
		background-size: cover;
		background-repeat:  no-repeat;
		background-position:  center -67vw;
		width: 84vw;
		height: 84vw;
		top: 0;
		left: 0
	}
	
	#game2 .bgmove1 {
		background-position:  center 0px !important;
	}
	
	#game2 .bgmove2 {
		background-position:  center 30vw !important;
	}
	
	/********************************************/
	
	#game2 .start {
		position: absolute;
		width: 49.2vw;
		top: 32vw;
		left: 50%;
	}
	
	#game2 #bord1 {
		position: absolute;
		background-size:contain;
		width: 34vw;
		height: 15vw;
		top: 2vw;
		right: 0.5vw;
		font-family: 'M PLUS Rounded 1c', sans-serif;
		font-size: 6vw;
		text-align: right;
		box-sizing: border-box;
		padding: 2vw 10.5vw 0px 0px;
	}
	
	#game2 .btn {
		position: absolute;
		width: 29vw;
		bottom: 1.5vw;
		right: 0.7vw;
	}
	
	#game2 #counter {
		position: absolute;
		background-size: cover;
		width: 46.2vw;
		height: 11.6vw;
		top: 2vw;
		left: -6vw;
		color: #FFF;
		font-family: 'M PLUS Rounded 1c', sans-serif;
		font-size: 4.5vw;
		text-align: right;
		box-sizing: border-box;
		padding: 2.9vw 13vw 0px 0px;
		letter-spacing: 0.2em;
	}
	
	#game2 .renda {
		position: absolute;
		width: 38.1vw;
		bottom: 18.0vw;
		right: 2.1vw;
	}
	
	/********************************************/
	
	#game2 .finish {
		position: absolute;
		width: 25vw;
		top: 4.7vw;
		left: 5vw;
	}
	
	#game2 #bord2 {
		position: absolute;
		background-size: contain;
		width: 38.6vw;
		height: 40.8vw;
		top: 31vw;
		left: 50%;
		margin-left: -19.3vw;
		z-index: 1;
	}
	
	#game2 #bord2 .kiroku {
		position: absolute;
		width: 35.6vw;
		top: -10.2vw;
		left: -6.1vw;
	}
	
	#game2 #bord2 p {
		position: absolute;
		top: 11vw;
		left: 0px;
		color: #000;
		width: 29.5vw;
		font-family: 'M PLUS Rounded 1c', sans-serif;
		font-size: 6.5vw;
		text-align: right;
	}
	
	#game2 .gastan {
		position: absolute;
		width: 8.8vw;
		bottom: 1.8vw;
		left: 56%;
	}
	
	#game2 .upcenter {
		bottom: 27.6vw;
	}
		
	}

	.img-center {
		margin-left: 16px !important;
		margin-top: 8px !important;
		height: 82px !important;
		width: 70px !important;
	}
	
	.result-image {
		height: 23px;
		width: 23px;
		margin-top: 5px;
		margin-left: 5px;
	}
	
	.img-american {
		height: 30px;
		width: 30px;
		margin-left: 2px;
	}
	
	.text-center{
		text-align: center;
	}
	.mt-2 {
		margin-top: 5px;
		margin-left: 5px;
	}

	.bg-spin {
		background-color: white !important;
	}

	.user-info{
		height: 58px;
		margin-bottom: 10px;
		display: block;
		margin-top: 5px;
		margin-left: 5px;
		padding: 0;
		border: 0;
		font-size: 100%;
		position: absolute;
	}

	.avatar{
		float: left;
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    -moz-border-radius: 50%;
    -webkit-border-radius: 7px;
	overflow: hidden;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
	}

	.amount {
		margin: 0;
		padding: 0;
		border: 0;
		font: inherit;
		vertical-align: baseline;
		/* float: left; */
		width: 100%;
		color: #666;
		font-size: 13px;
		/* display: inline; */
	}

	.info {
		padding: 0;
		border: 0;
		display: inline;
		font: inherit;
		vertical-align: baseline;
		font-size: 15px;
	}

@media only screen and (max-width: 400px) {
	.img-center {
		margin-left: 0px !important;
		margin-top: 0px !important;
		height: 50px !important;
		width: 50px !important;
	}

	.start_9 {
		font-size: 0.6em;
		font-weight: 700;
		color: honeydew;
	}

	#stake_1 {
		font-size: 0.6em;
		padding: 3px;
		margin-left: -3px;
		bottom: 19% !important;
	}

	.mt-2 {
		margin-top: 3px;
		margin-left: 0;
	}

	.avatar {
		float: left;
		width: 25px;
		/* height: 24px; */
		height: 25px;
		border-radius: 50% !important;
		-moz-border-radius: 50%;
		-webkit-border-radius: 7px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
	}

	.nick {
		float: left;
		font-size: 0.7em;

	}

	.amount {
		font-size: 7px;
	}

	#start_22 {
		height: 7% !important;
		width: 7% !important;
		bottom: 30% !important;
		left: 25.1% !important;
	}

	#start_23 {
		height: 7% !important;
		width: 7% !important;
		bottom: 30% !important;
		right: 24.2% !important;
	}


	.img-american {
		height: 20px;
		width: 20px;
		margin-left: 2px;
	}
}
