.container {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  clip-path: circle(50% at 50% 50%);
}

.circle.circle__start {
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: cornflowerblue;
}

.circle.circle__item {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: chartreuse;
}
